---
layout: default
title: Get info for your booking
lang: en
permalink: /en/booking/form.html
---

<h1>{{ page.title }}</h1>

<p>
	You ask, we reply. Because only after our answer any agreement is binding.
</p>

<hr/>

<form action="{{ site.mail_form_url }}" method="post">

	<input type="hidden" name="subject" value="Reservering website BB (Engels)">
	<input type="hidden" name="body" value="Binnengekomen op de website: ">
	<input type="hidden" name="nextpage" value="{{ site.url }}{% link en/booking-form-tnx.md %}">
	<input type="text" name="nietgebruiktenaam" class="d-none">

	<h2>Question</h2>
	<ul>
		<li>
			<label for="r1">
				<input type="radio" name="Vraag" id="r1" value="Definitieve boeking">
				Certain booking
			</label>
		</li>
		<li>
			<label for="r2">
				<input type="radio" name="Vraag" id="r2" value="Optie / vermoedelijke boeking">
				Option / probable booking
			</label>
		</li>
		<li>
			<label for="r3">
				<input type="radio" name="Vraag" id="r3" value="Vrijblijvende vraag">
				Question
			</label>
		</li>
	</ul>

	<h2>Date</h2>
	<div class="form-group row">
		<label for="perio_van" class="col-sm-2 col-form-label">From</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_van" name="perio_van" placeholder="dd-mm-yyyy" aria-label="From" aria-describedby="perio_van">
		</div>
		<label for="aankomst" class="col-sm-2 col-form-label">Arrival</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="aankomst" name="aankomst" placeholder="hh:mm" aria-label="Arrival" aria-describedby="aankomst">
		</div>
	</div>
	<div class="form-group row">
		<label for="perio_tm" class="col-sm-2 col-form-label">Until</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_tm" name="perio_tm" placeholder="dd-mm-yyyy" aria-label="Until" aria-describedby="perio_tm">
		</div>
		<label for="vertrek" class="col-sm-2 col-form-label">Departure</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="vertrek" name="vertrek" placeholder="hh:mm" aria-label="Departure" aria-describedby="vertrek">
		</div>
	</div>

	<h2>Group details</h2>
	<p>
		<div class="form-group row">
			<label for="groep" class="col-sm-2 col-form-label">Group or organisation</label>
			<div class="col-sm-10">
				<input type="text" name="groep" class="form-control" aria-label="Group" aria-describedby="groep">
			</div>
		</div>

		<div class="form-group row">
			<label for="groepsplaats" class="col-sm-2 col-form-label">Location</label>
			<div class="col-sm-10">
				<input type="text" name="groepplaats" class="form-control" aria-label="Location" aria-describedby="groepplaats">
			</div>
		</div>

		<div class="form-group row">
			<label for="personen" class="col-sm-2 col-form-label">Number of persons</label>
			<div class="col-sm-10">
				<input type="text" name="personen" class="form-control" aria-label="Number of persons">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="Onderdeel" class="col-sm-2 col-form-label">Welk onderdeel?</label>
			<div class="col-sm-10">
				<select name="Onderdeel" multiple size="6" class="custom-select">
					<option selected>-Choose-</option>
					<option>Cubs</option>
					<option>Scouts</option>
					<option>Rovers</option>
					<option>Leaders</option>
					<option>Inapplicable</option>
				</select>
			</div>
		</div>
	</p>

	<p>
		<h3>Contact</h3>
		<div class="form-group row">
			<label for="Naam" class="col-sm-2 col-form-label">Name *</label>
			<div class="col-sm-10">
				<input type="text" name="Naam" size="49" class="form-control" aria-label="Name" aria-describedby="naam" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="from" class="col-sm-2 col-form-label">E-mail *</label>
			<div class="col-sm-10">
				<input type="email" name="from" size="49" class="form-control" aria-label="from" aria-describedby="from" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="telefoon" class="col-sm-2 col-form-label">Phone *</label>
			<div class="col-sm-10">
				<input type="text" name="Telefoon" size="49" class="form-control" aria-label="Phone" aria-describedby="telefoon" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="Adres" class="col-sm-2 col-form-label">Address</label>
			<div class="col-sm-10">
				<input type="text" name="Adres" size="49" class="form-control" aria-label="Address" aria-describedby="adres">
			</div>
		</div>

		<div class="form-group row">
			<label for="postcode" class="col-sm-2 col-form-label">Postal code</label>
			<div class="col-sm-10">
				<input type="text" name="Postcode" size="12" class="form-control" aria-label="Postal code" aria-describedby="postcode">
			</div>
		</div>

		<div class="form-group row">
			<label for="plaats" class="col-sm-2 col-form-label">Town</label>
			<div class="col-sm-10">
				<input type="text" name="Woonplaats" size="49" class="form-control" aria-label="Town" aria-describedby="plaats">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="plaats" class="col-sm-2 col-form-label">Specific questions or remarks (e.g. about site preferences)</label>
			<div class="col-sm-10">
				<textarea name="Opmerking" rows="6" cols="52" class="form-control"></textarea>
			</div>
		</div>
	</p>

	<button type="submit" class="btn btn-success">Send</button>
</form>

<hr>

<p>
	<a href="mailto:{{ site.email }}">Mail directly to the booking office.</a>
</p>
