---
layout: default
lang: en
---

<div>
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/toegangspoort.jpg %}" alt="Entrance Gate Campsite" />
	</div>
	<div class="col-md-2 col-lg-1 d-none d-xs-none d-sm-none d-md-block float-end">
		<img class="img img-fluid float-end" src="{% link assets/images/sn-logo.svg %}" alt="Scouting Nederland Logo" />
	</div>
	<p>
		Welcome to Scout Campsite Het Bieslandse Bos.
	</p>
	<p>
		<a href="{% link en/campsite.html %}">Our campsite</a> lies between Zoetermeer and Delft.
	</p>
	<p>
		At and around the campsite are <a href="{% link en/recreation.md %}">various options</a> for camping members of Scouting.
		And with <a href="{% link en/nearby.html %}">various cities nearby</a> within cycling or tram distance Scout Campsite Het Bieslandse Bos is the ideal for a weekend or summercamp.
	</p>
</div>
