---
layout: default
title: Nearby
lang: en
---

<h1>{{ page.title }}</h1>

<p>
	<div class="col-md-4 d-none d-md-block float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/omgeving.jpg %}" alt="{{ page.title }}" />
	</div>
	The Campsite Bieslandse Bos has various cities nearby, within cycling or tram distance.
</p>

{% for stad in site.data.omgeving.steden %}

<h2>{{ stad.naam }}</h2>

<p>
	{{ stad.en }}
</p>

<ul>
{% for attractie in stad.attracties %}
	<li><a href="{{ attractie.url }}" target="_blank">{{ attractie.en }}</a></li>
{% endfor %}
</ul>

{% endfor %}
