---
layout: default
title: In der Nähe
lang: de
---

<h1>{{ page.title }}</h1>

<p>
	<div class="col-md-4 d-none d-md-block float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/omgeving.jpg %}" alt="{{ page.title }}" />
	</div>
	Die Pfadfinderzeltplatz Bieslandse Bos hat verschiedene Städte in der Nähe, mit dem Fahrrad oder der Straßenbahn erreichbar.
</p>

{% for stad in site.data.omgeving.steden %}

<h2>{{ stad.naam }}</h2>

<p>
	{{ stad.de }}
</p>

<ul>
{% for attractie in stad.attracties %}
	<li><a href="{{ attractie.url }}" target="_blank">{{ attractie.de }}</a></li>
{% endfor %}
</ul>

{% endfor %}
