---
layout: default
title: Informationen im Notfall
lang: de
---

<h1>Informationen im Notfall</h1>

<table class="table table-hover">

	{% for nood in site.data.noodhulp.noodhulp %}

	<tr>
		<td>
			{% if nood.url != "" %}
				<a href="{{ nood.url }}">{{ nood.de }}</a></td>
			{% else %}
				{{ nood.de }}
			{% endif %}
		</td>
		<td>
			{% if nood.call != "" %}
				<a href="tel:{{ nood.call }}">{{ nood.phone}}</a>
				<i class="fas fa-phone" aria-hidden="true"></i>
			{% else %}
				{{ nood.phone }}
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>

<p>
	Der Allgemeinarzt, die Notaufnahme und die 24-Stunden-Apotheke befinden sich alle im Krankenhaus Reinier de Graaf:<br/>
	<a href="https://www.google.nl/maps/place/Reinier+de+Graafweg+5+Delft">
		Reinier de Graafweg 5, Delft
	</a>
</p>
