<div class="row container-fluid">
	<div class="col-sm-5">
		<h3>Terrein</h3>
		<p>
			<a href="https://www.google.nl/maps/place/Noordweg+101+2641+ZA+Pijnacker" title="Open in Google Maps">Noordweg 101 <i class="bi bi-geo-alt-fill" aria-hidden="true"></i><br/>
			2641 ZA Pijnacker</a><br/>
			<a href="tel:+31153699073">015-3699073</a>
			<i class="bi bi-telephone-fill" aria-hidden="true"></i>
		</p>
	</div>
	<div class="col-sm-2 text-md-center">
		<h3>&nbsp;</h3>
		<p>
			<a href="{{ site.social.facebook }}" title="Volg ons op Facebook"><i class="bi bi-facebook text-success"></i></a>
			<a href="{{ site.social.gitlab }}" title="GitLab"><i class="bi bi-gitlab text-success"></i></a>
		</p>
	</div>
	<div class="col-sm-5 text-md-end">
		<h3>Reserveren</h3>
		<p>
			<i class="bi bi-question-circle-fill" aria-hidden="true"></i>
			<a href="{% link nl/reserveren.html %}">Informatie</a><br/>
			<i class="bi bi-envelope-fill" aria-hidden="true"></i>
			<a href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
			<i class="bi bi-file-text-fill"></i>
			<a href="{% link nl/reserveren-form.html %}">Formulier</a>
		</p>
	</div>
</div>
