---
layout: default
title: Informatie aanvragen voor een reservering
permalink: /nl/reserveren/form.html
---

<h1>{{ page.title }}</h1>

<p>
	Jij vraagt, wij antwoorden. Maar pas na <b>ons antwoord</b> is het definitief.
</p>

<hr/>

<form action="{{ site.mail_form_url }}" method="post">

	<input type="hidden" name="subject" value="Reservering website BB">
	<input type="hidden" name="body" value="Binnengekomen op de website: ">
	<input type="hidden" name="nextpage" value="{{ site.url }}{% link nl/reserveren-form-tnx.md %}">
	<input type="text" name="nietgebruiktenaam" class="d-none">

	<h2>Vraag</h2>
	<ul>
		<li>
			<label for="r1">
				<input type="radio" name="Vraag" id="r1" value="Definitieve boeking">
				Definitieve boeking
			</label>
		</li>
		<li>
			<label for="r2">
				<input type="radio" name="Vraag" id="r2" value="Optie / vermoedelijke boeking">
				Optie / vermoedelijke boeking
			</label>
		</li>
		<li>
			<label for="r3">
				<input type="radio" name="Vraag" id="r3" value="Vrijblijvende vraag">
				Vrijblijvende vraag
			</label>
		</li>
	</ul>

	<h2>Datum</h2>
	<div class="form-group row">
		<label for="perio_van" class="col-sm-2 col-form-label">Van</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_van" name="perio_van" placeholder="dd-mm-yyyy" aria-label="Van" aria-describedby="perio_van">
		</div>
		<label for="aankomst" class="col-sm-2 col-form-label">Aankomst</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="aankomst" name="aankomst" placeholder="uu:mm" aria-label="Aankomst" aria-describedby="aankomst">
		</div>
	</div>
	<div class="form-group row">
		<label for="perio_tm" class="col-sm-2 col-form-label">Tot en met</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_tm" name="perio_tm" placeholder="dd-mm-yyyy" aria-label="Tot en met" aria-describedby="perio_tm">
		</div>
		<label for="vertrek" class="col-sm-2 col-form-label">Vertrek</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="vertrek" name="vertrek" placeholder="uu:mm" aria-label="Vertrek" aria-describedby="vertrek">
		</div>
	</div>

	<h2>Groepsgegevens</h2>
	<p>
		<div class="form-group row">
			<label for="groep" class="col-sm-2 col-form-label">Groep</label>
			<div class="col-sm-10">
				<input type="text" name="groep" class="form-control" aria-label="Groep" aria-describedby="groep">
			</div>
		</div>

		<div class="form-group row">
			<label for="groepsplaats" class="col-sm-2 col-form-label">Plaats</label>
			<div class="col-sm-10">
				<input type="text" name="groepplaats" class="form-control" aria-label="Groepplaats" aria-describedby="groepplaats">
			</div>
		</div>

		<div class="form-group row">
			<label for="personen" class="col-sm-2 col-form-label">Aantal personen</label>
			<div class="col-sm-10">
				<input type="text" name="personen" class="form-control" aria-label="Aantal personen">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="Onderdeel" class="col-sm-2 col-form-label">Welk onderdeel?</label>
			<div class="col-sm-10">
				<select name="Onderdeel" multiple size="7" class="custom-select">
					<option selected>-Kies onderdelen-</option>
					<option>Welpen</option>
					<option>Scouts</option>
					<option>Explorers</option>
					<option>Roverscouts</option>
					<option>Leiding</option>
					<option>N.v.t.</option>
				</select>
			</div>
		</div>
	</p>

	<p>
		<h3>Contactpersoon</h3>
		<div class="form-group row">
			<label for="Naam" class="col-sm-2 col-form-label">Naam *</label>
			<div class="col-sm-10">
				<input type="text" name="Naam" size="49" class="form-control" aria-label="Naam" aria-describedby="naam" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="from" class="col-sm-2 col-form-label">E-mail *</label>
			<div class="col-sm-10">
				<input type="email" name="from" size="49" class="form-control" aria-label="from" aria-describedby="from" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="telefoon" class="col-sm-2 col-form-label">Telefoon *</label>
			<div class="col-sm-10">
				<input type="text" name="Telefoon" size="49" class="form-control" aria-label="Telefoon" aria-describedby="telefoon" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="Adres" class="col-sm-2 col-form-label">Adres</label>
			<div class="col-sm-10">
				<input type="text" name="Adres" size="49" class="form-control" aria-label="Adres" aria-describedby="adres">
			</div>
		</div>

		<div class="form-group row">
			<label for="postcode" class="col-sm-2 col-form-label">Postcode</label>
			<div class="col-sm-10">
				<input type="text" name="Postcode" size="12" class="form-control" aria-label="Postcode" aria-describedby="postcode">
			</div>
		</div>

		<div class="form-group row">
			<label for="plaats" class="col-sm-2 col-form-label">Plaats</label>
			<div class="col-sm-10">
				<input type="text" name="Woonplaats" size="49" class="form-control" aria-label="Plaats" aria-describedby="plaats">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="Opmerking" class="col-sm-2 col-form-label">Specifieke vragen of opmerkingen (bijv. over velden)</label>
			<div class="col-sm-10">
				<textarea name="Opmerking" rows="6" cols="52" class="form-control"></textarea>
			</div>
		</div>
	</p>

	<button type="submit" class="btn btn-success">Versturen</button>
</form>

<hr>

<p>
	<a href="mailto:{{ site.email }}">Direct mailen met het reservingingsbureau kan ook.</a>
</p>
