---
layout: default
title: Reserveren
---

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/algemeen.jpg %}" alt="Blik op het terrein" />
	</div>
	Het Bieslandse Bos is een <a href="{% link nl/terrein.html %}">ruim terrein</a> waar in totaal zo'n {{ capaciteit_approx }} leden van Scouting kunnen kamperen.
</p>
<p>
	Op het terrein is voor hikende Scouts altijd plaats, hoe groot de drukte ook is.
</p>
<p>
	In sommige weekenden kan het zó druk zijn dat je beter ergens anders heen kan gaan, of een ander weekend kan kiezen.
	Meestal lukt het echter wel om te kunnen kamperen.
</p>
<p>
	Voor zomerkampen hanteren we wel maximumgrenzen voor wat betreft het aantal groepen en/of personen, anders gaat het ten koste van de kwaliteit van het kamp.
	Reken erop dat je voor de eerste twee weken van de zomerkampen vroeg moet boeken, en bedenk dat met de vakantiespreiding veel weken 'de eerste twee weken' zijn.
</p>

<h2>Prijzen</h2>

<table class="table table-hover">

	<tr>
		<th></th>
		<th class="text-end">Scouting</th>
		<th class="text-end">Non-profit</th>
	</tr>

{% for prijs in site.data.prijzen.prijzen %}

	<tr>
		<td>{{ prijs.nl }}</td>
		<td class="text-end">{{ prijs.scout | format_money }}</td>
		<td class="text-end">{{ prijs.nonprofit | format_money }}</td>
	</tr>

{% endfor %}

</table>

<h2>Reserveringsbureau</h2>

<p>
	Voor het maken van een reservering of andere vragen over bijvoorbeeld beschikbaarheid kun je contact opnemen met ons reserverings&shy;bureau.
	Dit kan via een e-mail naar <a href="mailto:{{ site.email }}">{{ site.email }}</a> of door gebruik te maken van het <a href="{% link nl/reserveren-form.html %}">reserverings&shy;formulier</a>.
	Naar het terrein bellen met vragen over reserveringen heeft geen zin.
</p>

<h2>Voorwaarden</h2>

<ul>
{% for vw in site.data.regels.voorwaarden %}	
	<li>{{ vw.nl }}</li>	
{% endfor %}
</ul>

<p>
	Lees ook onze <a href="{% link nl/kampregels.md %}">kampregels</a> goed door en maak deze bij je groepsleden bekend. En leef ze na!
</p>

<p>
	Informatie <a href="{% link nl/noodhulp.html %}">in geval van nood</a>.
</p>
