---
layout: default
lang: de
---

<h2>Feld {{ page.naam }}{% if page.nr != 0 %}<small> (nr {{ page.nr }})</small>{% endif %}</h2>

{% if page.image != "" %}
<div>
	<img src="{{ site.baseurl }}/assets/images/terrein/{{ page.image }}" alt="{{ page.naam }}" title="{{ page.naam }}" class="img-rounded">
</div>
{% endif %}

<p>
	{{ page.de }}
</p>
<ul>
	{% if page.dimensies.x != 0 %}
	<li>Abmessungen &asymp; {{ page.dimensies.x }} m &times; {{ page.dimensies.y }} m</li>
	{% endif %}
	{% if page.dimensies.oppervlakte != 0 %}
	<li>Grundfläche &asymp; {{ page.dimensies.oppervlakte }} m&sup2;</li>
	{% endif %}
	{% if page.capaciteit != 0 %}
	<li>Kapazität &asymp; {{ page.capaciteit }} Personen</li>
	{% endif %}
	<li>{% if veld.stookplaats %}Lagerfeuermöglichkeit vorhanden{% else %}Lagerfeuermöglichkeit nicht vorhanden{% endif %}</li>
</ul>
