---
layout: default
---

<section class="post">

	<h4 class="post-date">{{ page.date | date_to_string }}</h4>

	<h1 class="post-title">{{ page.title }}</h1>

	<div class="post-content">
		{{ content }}
	</div>

</section>
